* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', sans-serif;
	overflow-x: hidden;
}
html,
body {
	height: 100%;
}
.banner {
	height: 237.063px;
	margin: 0;
}
.ffflogo {
	height: inherit;
	width: 600px;
	margin: 0 auto;
}
.ffflogo img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 100%;
	height: 100%;
}
#logo-main {
	display: block;
	margin: 20px auto;
}
.navbar .container-fluid {
	/* // background: transparent; */
	background-color: #074784;
	/* border: none; */
}
.navbar-nav {
	display: table;
}
#navbar-primary.navbar-default {
	/* // background: transparent; */
	background-color: #074784;
	border: none;
	padding: 0;
}
#navbar-primary.navbar-default .navbar-nav {
	width: 100%;
	text-align: center;
}
#navbar-primary.navbar-default .navbar-nav li {
	display: inline-block;
	float: none;
	width: 170px;
	/* margin: 10px 0; */
	/* height: 75px; */
}
#navbar-primary.navbar-default .navbar-nav li a {
	padding-left: 10px;
	padding-right: 10px;
	margin: 8% 0;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 550;
	vertical-align: top;
	/* padding: 20px 0; */
}
.highlighted {
	background-color: #222222;
}
.navbar-header {
	margin: 0 auto;
}
#carouselExampleControls {
	padding-left: 15px;
	padding-right: 15px;
	/* padding-bottom: 10px; */
}
.blue-triangle {
	width: 10vw;
	border-bottom: 15px solid #074784;
	border-right: calc(66vw * 0.75) solid transparent;
	border-left: calc(66vw * 0.75) solid transparent;
}
.blue-triangle-inverted {
	width: 10vw;
	border-top: 13px solid #074784;
	border-right: calc(66vw * 0.75) solid transparent;
	border-left: calc(66vw * 0.75) solid transparent;
}
.blurred-background-players {
	background: url("../imgs/soccer-players-background-unfocused.png");
	background-size: cover;
	background-attachment: fixed;
	/* background-position: center; */
}
.white-triangle {
	width: 10vw;
	border-bottom: 15px solid #fff;
	border-right: calc(66vw * 0.75) solid transparent;
	border-left: calc(66vw * 0.75) solid transparent;
}
.blurred-background-players .row {
	margin-bottom: 50px;
	margin-top: 25px;
	/* padding: 0 20%; */
}
.blurred-background-players .row img {
	max-height: 100%;
	max-width: 100%;
	/* position: absolute; */
}
.blurred-background-players .row img:before {
	content: "";
	position: absolute;
	top: 105%;
	left: -1%;
	height: 20px;
	width: 150px;
	opacity: 1;
	transition: all 1s;
	transition-delay: 0.10;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
}
.blurred-background-players .row img:hover {
	transform: translateY(-7px);
	transition: 0.5s all;
}
.blurred-background-players .row img:hover:before {
	opacity: 1;
	transform: translateY(7px);
	transition: 2s all;
	transition-delay: 0.5s;
}
.product-video {
	background-image: url(../imgs/Screen-Shot-2020-03-09-at-11.55.47.png);
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.video-box {
	height: inherit;
	width: inherit;
	margin: auto 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.video-box {
	height: inherit;
	width: inherit;
	margin: auto 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.iframe-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.24%;
	height: 0;
}
.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.about-fff {
	display: inline-block;
	padding-top: 11%;
	position: relative;
}
.about-fff::before {
	content: '';
	background: url('../imgs/fff-academy-watermark.jpg');
	background-size: cover;
	background-attachment: fixed;
	position: absolute;
	opacity: 0.2;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.info {
	display: inline-block;
	position: relative;
	text-align: center;
	margin: auto auto;
	margin: 0 10%;
}
.info-header {
	font-size: 29px;
	font-family: 'Fugaz One', sans-serif;
	color: #171b47;
	padding-bottom: 10px;
	position: relative;
}
.info-paragraph p {
	font-size: 20px;
	color: #333333;
	line-height: 1.5;
	margin: 0 8%;
	margin-bottom: 10px;
}
.info-paragraph p a {
	color: #dc0022;
	text-decoration: none;
}
.register-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	position: relative;
}
.button {
	max-width: 90%;
	background: #d90000;
	border-bottom: 4px solid #333333;
	border-right: 4px solid #333333;
	border-top: 2px solid #333333;
	border-left: 2px solid #333333;
	display: flex;
	border-radius: 3px;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	color: white;
	text-decoration: none;
	text-align: center;
	font-style: italic;
	padding: 3px 25px 3px 25px;
}
.button:hover {
	background-color: white;
	color: #d90000;
	font-style: normal;
	text-decoration: none;
}
.parallelogram {
	transform: skew(-20deg);
}
.skew-fix {
	display: inline-block;
	transform: skew(20deg);
	padding-left: 10px;
	padding-right: 10px;
	/* max-width: 90%; */
}
@media only screen and (max-width: 600px) {
	.skew-fix {
		font-size: 18px;
	}
}
.ffforiginal {
	position: relative;
}
.ffforiginal img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 8%;
	width: 350px;
}
.golden-triangle {
	width: 10vw;
	border-bottom: 20px solid #d3bd85;
	border-right: calc(66vw * 0.75) solid transparent;
	border-left: calc(66vw * 0.75) solid transparent;
	position: relative;
}
.mailing-list {
	background-color: #ccb375;
	padding: 17px 0;
	display: block;
}
.mail-header {
	color: #fff;
	font-size: 29px;
	font-family: 'Fugaz One', sans-serif;
	margin: 0 10%;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 40px;
}
.footer-logo {
	background-color: #fff;
}
.footer-logo img {
	width: 60%;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: -10px;
	background-color: #fff;
}
.footer-logo-su {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
}
.footer-logo-su img {
	width: 80%;
}
.footer .contact-social-media {
	background-color: #000;
	color: #aaaaaa;
}
.footer .contact-social-media .row-1 {
	font-size: 20px;
	display: flex;
	justify-content: center;
	padding: 10px;
	margin-top: 30px;
}
.footer .contact-social-media .row-2 {
	list-style: none;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	padding-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
.footer .contact-social-media li {
	padding: 0 10px;
	text-align: center;
}
.fab {
	color: #aaaaaa;
	font-size: 25px;
}
